@page "/InventorControllers"

@inject IDataAccessLibrary<BandsModel> bandsData
@inject IDataAccessLibrary<InventorControllers> inventorControllerData
@inject IDataAccessLibrary<ControllerModel> controllerData

<h3>Set Inventor Controllers</h3>
<EditForm Model="@inventorControllers" OnValidSubmit="AddControllersToInventor">
    @* bands option *@
    <div class="container mb-2">
        @if (BandsList is not null)
        {
            @*bind the id value of the selectd option in selectedBand id*@
            <select @bind=@selectedBand.Id class="form-select">
                <option value="">Select Band</option>
                @foreach (var band in BandsList)
                {
                    <option value="@band.Id">@band.Number</option>
                }
            </select>
    }
    </div>

    @*list of Controllers*@
    <div class="container">
        <div class="container">
            <div>
                <label>list of Controllers</label>
            </div>
            <div>
                @if (ControllersList is not null)
                {
                    <div class="overflow-auto p-3 containerComponentHeight">
                        <ul class="list-group">
                            @foreach (var item in ControllersList)
                            {
                                <li class="list-group-item list-group-item-primary" role="button" @onclick="(()=> ItemAddToListClicked(item))">@item.Name '@item.Number'</li>
                            }
                        </ul>
                    </div>
                }
            </div>

        </div>

        @*List of the added Controllers *@
        <div class="container mt-3">
            <label>Controllers added to inventor for Band</label>
            @if (ControllersListToInventor is not null)
            {
                <div class="overflow-auto p-3 containerComponentHeight">
                    <ul class="list-group">
                        @foreach (var item in ControllersListToInventor)
                        {
                            <li class="list-group-item list-group-item-success" role="button" @onclick="(()=> ItemRemoveFromListClicked(item))">@item.Name '@item.Number'</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    @* add button *@
    <div class="container d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-primary">Add Controllers</button>
    </div>

</EditForm>
<button type="button" class="btn btn-primary" @onclick="ResetHasBeenAdded">Reset</button>



@code {
    InventorControllers inventorControllers = new();

    /// <summary>
    /// using in select band to capture the id value from select
    /// </summary>
    BandsModel selectedBand = new();

    List<ControllerModel> ControllersList;

    List<ControllerModel> ControllersListToInventor = new();

    List<BandsModel> BandsList;
    protected override async Task OnInitializedAsync()
    {
        // on initilize look after the controllers have a value false of HasBeenAdded
        // for do not duplicate a controller in another band
        var controllers = await controllerData.GetAllAsync();
        ControllersList = controllers.Where(x => x.HasBeenAdded == false).ToList();

        BandsList = await BandsDetails();
    }

    private async Task<List<BandsModel>> BandsDetails()
    {
        return await bandsData.GetAllAsync();
    }

    private async Task AddControllersToInventor(EditContext context)
    {
        inventorControllers.ControllersTeam = ControllersListToInventor;
        // catch the id band from selectedBand
        // fetch the band using id to retrive the data
        inventorControllers.Bands = await bandsData.GetByIdAsync(selectedBand.Id);
        if (inventorControllers.ControllersTeam.Count == 2)
        {
            var result = (InventorControllers)context.Model;
            // if we do not select band and try to add controllers the select value will be 0
            if (result.Bands.Number != 0)
            {
                await inventorControllerData.AddNew(result);
                await RefreshList();
            }

            
        }
    }

    // for reset HasBeenAdded to false just for test
    private async Task ResetHasBeenAdded()
    {
        var controllers = await controllerData.GetAllAsync();
        foreach (var controller in controllers)
        {
            controller.HasBeenAdded = false;
            await controllerData.UpdateAsync(controller.Id,controller);
        }
    }

    private async Task RefreshList()
    {
        var controllersInInventor = inventorControllers.ControllersTeam;

        // update the controller to add the true value to HassBeenAdded to true
        foreach (var controller in controllersInInventor)
        {
            await controllerData.UpdateAsync(controller.Id,controller);
        }
        var controllers = await controllerData.GetAllAsync();
        ControllersList = controllers.Where(x => x.HasBeenAdded == false).ToList();
        ControllersListToInventor.Clear();
    }

    private void ItemRemoveFromListClicked(ControllerModel controller)
    {
        if (ControllersList is not null)
        {
            controller.HasBeenAdded = false;
            ControllersList.Add(controller);
        }

        if (ControllersListToInventor is not null)
        {
            ControllersListToInventor.Remove(controller);
        }
    }

    private void ItemAddToListClicked(ControllerModel controller)
    {
        
        if (ControllersListToInventor is not null)
        {
            // number of controllers just 2
            if (ControllersListToInventor.Count < 2  )
            {
                //TODO change the logic from add controller.HasBeenAdded = true; to add the cotroller to another db and compare how is not in table
                controller.HasBeenAdded = true;
                ControllersListToInventor.Add(controller);
                
                if (ControllersList is not null)
                {
                    ControllersList.Remove(controller);
                }
            }
        }

        
    }
}
